In [2]:
import mysql.connector

# Syntax

In [ ]:
### Always check with the mysql-workbench-community (in terminal)
#Create Database - If Drop,replace CREATE --> DROP
# mycursor.execute("DROP DATABASE my_database_1")

'''
#Show DataBase
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x) 
'''

'''
# Table
## Create Table
create_table_query = 
    '''CREATE TABLE employee(
                        employee_id INT,
                        first_name VARCHAR(50),
                        last_name VARCHAR(50),
                        hourly_pay DECIMAL(5,2),
                        hire_date DATE
                        );
    '''
#mycursor.execute(create_table_query)
## Drop Table
# mycursor.execute("DROP TABLES customers")

'''
# Show table 
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)
'''

# Main program

In [3]:
# create the host server for 1st time in the terminal after sudo mysql
# CREATE USER 'lqd'@'localhost' IDENTIFIED BY 'Duong159753!'; 
mydb = mysql.connector.connect(
  host="localhost",
  user="lqd",
  password="Duong159753!"
   
)
print(mydb) # Show
# Obligatory cursor 
mycursor = mydb.cursor()

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f5fd9e9ad90>

In [4]:
### Show DataBase
mycursor.execute("SHOW DATABASES")
for x in mycursor:
  print(x)

('information_schema',)
('myDB',)
('my_database',)
('mysql',)
('performance_schema',)
('sys',)

In [5]:
mydb = mysql.connector.connect(
  host="localhost",
  user="lqd",
  password="Duong159753!",
  database="my_database" # Connect to database
)
mycursor = mydb.cursor()

In [5]:
# Create Table
# Syntax for input the same as SQL syntax but put it into '''Content'''
create_table_query = '''CREATE TABLE employee(
                        employee_id INT,
                        first_name VARCHAR(50),
                        last_name VARCHAR(50),
                        hourly_pay DECIMAL(5,2),
                        hire_date DATE
                        );
                        '''
mycursor.execute(create_table_query)

ProgrammingError: 1050 (42S01): Table 'employee' already exists

In [8]:
# Show table 
mycursor.execute("SHOW TABLES")
for x in mycursor:
  print(x)

('employees',)

In [7]:
# Select the expected database
use_database = "USE my_database"
mycursor.execute(use_database)
# Show all table 
order = "SELECT * FROM employee"
mycursor.execute(order)

In [7]:
# Rename Table
rename_database ="RENAME TABLE workers TO employees"
mycursor.execute(rename_database)